@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --bg-primary: #000000;
  --bg-secondary: #131313;
  --bg-tertiary: #272727;
  --text-primary: #f9f9f9;
  --text-secondary: #acacac;
  --text-tertiary: #7c7c7c;
  --btn-primary: #f0f0f0;
  --btn-primary-hover: #e2e2e2;
  --btn-secondary: #33bb7a;
  --btn-secondary-hover: #389e6e;
  --btn-danger: #e14d4d;
  --font-family-primary: "Inter", serif;
  --font-family-secondary: "Libre Baskerville", serif;
  --ui-outline: #383838;
  --ui-outline-danger: rgba(225, 77, 77, 0.2);
  --transition-time: 0.25s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.no-scroll {
  overflow: hidden;
}

.username {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 400;
  transition: all var(--transition-time) ease-out;
}

.username:hover {
  color: var(--btn-secondary);
}

/* ========== BUTTON STYLES ========== */
.btn {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--bg-primary);
  cursor: pointer;
  transition: all var(--transition-time) linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
}

/* ========== NAVBAR STYLING ========== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg-tertiary);
  width: 100%;
  z-index: 1;
  font-weight: 300;
  max-height: 65px;
}

.navbar__logo {
  font-family: var(--font-family-secondary);
  font-size: 1.5rem;
  margin: 1rem;
  color: var(--text-primary);
  text-decoration: underline;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 14px;
  padding: 1.5rem 1rem;
  transition: all var(--transition-time) linear;
  cursor: pointer;
}

ion-icon[name="person-circle-outline"] {
  font-size: 36px;
  transition: color var(--transition-time) linear;
}

.navbar__link__profile_icon:hover {
  border: 1px solid var(--text-primary);
}

.navbar__link__profile__dropdown {
  position: absolute;
  top: 66px;
  right: 0;
  transform: translateX(-10%);
  background-color: var(--bg-tertiary);
  border-radius: 4px;
  width: 200px;
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  margin-right: -10px;
  visibility: hidden;
  transition: var(--transition-time);
  opacity: 0;
}

.navbar__link__profile__dropdown.active {
  visibility: visible;
  opacity: 1;
}

.navbar__link__profile__dropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: var(--bg-tertiary);
  transform: rotate(45deg);
}

.navbar__link__profile__dropdown__item {
  font-size: 14px;
  padding: 10px;
  color: var(--text-primary);
  border: 1px solid var(--bg-tertiary);
  text-decoration: none;
  transition: all var(--transition-time) linear;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__link__profile__dropdown__item:not(:last-child) {
  margin-bottom: 5px;
}

.navbar__link__profile__dropdown__item:hover {
  border: 1px solid var(--ui-outline);
}

/* Whenever a NavLink is active, it will automatically have 
an .active class name for easy styling with CSS */
.navbar__link.active {
  color: var(--text-primary);
}

.navbar__link:hover {
  color: var(--text-primary);
}

.navbar__link__join {
  background-color: var(--btn-secondary);
  color: var(--bg-primary);
}

.navbar__link__join:hover {
  background-color: var(--btn-primary);
  color: var(--bg-primary);
}

.navbar__link__profile {
  background-color: var(--bg-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1;
}

/* ========== FOOTER STYLING ========== */
.footer {
  font-weight: 300;
  font-size: 0.875rem;
  max-width: 1120px;
  /* width: 100%; */
  padding: 0 1rem;
  margin: 0 auto 5rem auto;
  text-align: left;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-flex-item__label {
  color: var(--btn-primary);
  margin-bottom: 1.25rem;
}

.footer-flex-item__link {
  color: var(--text-secondary);
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
  transition: all var(--transition-time) linear;
}

.footer-flex-item__links a {
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-flex-item__link:hover {
  color: var(--btn-primary);
}

.footer-flex-item__subscribe {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-secondary);
  padding: 0.4rem;
  border-radius: 4px;
  transition: all var(--transition-time) linear;
}

.footer-flex-item__subscribe:focus-within {
  border: 1px solid var(--btn-primary);
}

.footer-flex-item__subscribe__input {
  background: transparent;
  font-family: var(--font-family-primary);
  color: var(--btn-primary);
  border: none;
  outline: none;
}

.footer-flex-item__subscribe__button {
  background: var(--btn-primary);
  padding: 0.3rem;
  font-weight: 700;
  border-radius: 4px;
  font-size: 14px;
  border: none;
}

.footer-flex-item__subscribe__button:hover {
  background: var(--btn-primary-hover);
}

/* ========== AUTH FORM STYLES ========== */
.form__wrapper {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.25rem;
  padding: 0 10px;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 14px;
}

.form__label {
  display: block;
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin-bottom: 15px;
}

.form__label--error {
  color: var(--btn-danger);
}

.form__hero__text__title {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 1.5rem;
}

.form__input {
  padding: 14px 16px;
  border: 1px solid var(--text-secondary);
  outline: none;
  display: block;
  width: 100%;
  background: transparent;
  transition: all var(--transition-time) linear;
  color: var(--text-primary);
  cursor: text;
}

.form__input--error {
  border: 1px solid var(--btn-danger);
}

/* REACT DATEPICKER CUSTOME STYLES */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper .react-datepicker__close-icon::after {
  background-color: var(--text-secondary);
  color: var(--bg-primary);
  font-size: 14px;
  font-weight: bold;
}

.form__input:focus,
.form__input:hover {
  border: 1px solid var(--btn-primary);
}

.form__input--error:focus,
.form__input--error:hover {
  border: 1px solid var(--btn-danger);
}

.form__input::placeholder {
  color: var(--text-secondary);
}

.form__button {
  font-size: 14px;
  color: var(--bg-primary);
  padding: 14px 20px;
  border-radius: 2px;
  gap: 0.5rem;
}

.form__button--email {
  border: 1px solid var(--btn-secondary);
  background: var(--btn-secondary);
}

.form__button--email:hover {
  border: 1px solid var(--btn-secondary-hover);
  background: var(--btn-secondary-hover);
}

.form__button--microsoft {
  border: 1px solid var(--btn-primary);
  background: var(--bg-tertiary);
  color: var(--text-primary);
}

.form__button--microsoft:hover {
  background-color: var(--btn-primary-hover);
  color: var(--bg-primary);
}

.form__divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.form__divider .line {
  flex: 1;
  border: none;
  height: 1px;
  background-color: var(--ui-outline);
}

.form__divider .or-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-secondary);
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
  padding: 1rem;
}

.illustration img {
  width: 100%;
  max-width: 800px;
}

.form__footer {
  text-align: center;
  color: var(--text-secondary);
}

.form__footer a {
  color: var(--text-secondary);
  transition: all var(--transition-time) ease-out;
}

.form__footer a:hover {
  color: var(--text-primary);
}

/* ========== ERROR NOTIFICATION STYLES ========== */
.error {
  border: 1px solid var(--ui-outline-danger);
  padding: 14px;
}

.error__message {
  color: var(--btn-danger);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.error__message ion-icon {
  font-size: 24px;
}

@media (max-width: 480px) {
  .navbar__logo {
    font-size: 1rem;
    text-decoration: underline;
  }
}
